.titlebar {
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.titlebarButton {
  -webkit-app-region: no-drag;
  width: 45px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
